.body{
    font-family:"Sans-Serif";
    font-size: 22px;
    color: #3b3b3b;
}
.head{
    font-family:"Sans-Serif";
    font-size: 25px;
    font-weight:bold;
}
.fig{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.figcaption{
    text-align: center;
    font-family: "Sans-Serif";
    font-size: 20px;
    color: #3b3b3b;
}
.formula{
    font-size: 20px;
}
.subhead{
    font-family: "Sans-Serif";
    font-size: 23px;    
}
.hyperlinks{
    color:#FF7D33;
}