.body{
    font-family:"Sans-Serif";
    font-size: 16px;
    color: #3b3b3b;
}
.head{
    font-family:"Sans-Serif";
    font-size: 22px;
    font-weight:bold;
}
.fig{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.figcaption{
    text-align: center;
    font-family: "Sans-Serif";
    font-size: 14px;
    color: #3b3b3b;
}
.formula{
    font-size: 16px;
}
.subhead{
    font-family: "Sans-Serif";
    font-size: 20px;    
}
.hyperlinks{
    color:#FF7D33;
}
.blogTitle{
    font-family: 'CMS', 'Droid Serif', Georgia, Times, serif;
    font-size: 300%;
    line-height: 65px;
    text-align: left;
    color: #3b3b3b;
}